    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Microsoft Innovation Center Rio de Janeiro</strong>
                    </h4>
                    <p>Rua Gonçalves Dias, 276<br>Petrópolis - RJ, Valparaíso 25655-122</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> +55 (24) 2103-0300</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:mic.riodejaneiro@ctinovacao.com.br">mic.riodejaneiro@ctinovacao.com.br</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/mic.riodejaneiro/"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Microsoft Innovation Center RJ 2015</p>
                </div>
                <div class="col-md-6">
                    <img src="img/microsoft.png" style=" width: 200px; margin-top: -60px;" />
                </div>
            </div>
        </div>
    </footer>